<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qual é o próximo</title>
</head>
<body>
    <h1>Bem vindo!!</h1>
    <p>esta ferramenta é para você que tem dificuldade em escolher o proximo anime que você vai ver, 
        escolheremos um aleatóriamente da sua lista de "plan to watch" do Myanimelist, para isso é 
        necessário que você esteja logado na sua conta.</p>
    <%if (typeof session === "undefined"){%>
        <div class="container">
            <div class="login">
                <a href="/auth">clique aqui</a>
            </div>
        </div>
    <%}else{%>
        <% if (typeof titulo !== "undefined") {%>
        <div class="container">
            <div class="resultado">
                <table>
                    <tr>
                        <td>imagem</td><td>Título</td><td>Sinopse</td>
                    </tr>
                    <tr>
                        <td><img src="<%= img %>" alt="'<%= titulo %>'"></td>
                        <td><h4><%= titulo %></h4></td>
                        <td><p><%= sinopse %></p></td>
                    </tr>
                </table>
            </div>
        
            
        </div>
        <% } %>
        <a href="/getanime">Novo Anime</a>
        <a href="/logout">logout</a>
        <% } %>
</body>
</html>